.component-calculator {
    margin: auto;

    .display {
        background: rgba(211, 211, 211, 0.2);
        color: #000;
        display: flex;
        height: 25px;
        justify-content: flex-end;
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .number-pad {
        .number-pad-row {
            display: flex;
            justify-content: space-between;

            .button {
                height: 40px;
                line-height: 40px;
                text-align: center;
                user-select: none;
                width: 40px;

                &:hover:not(.empty) {
                    color: hotpink;
                    cursor: pointer;
                }
            }
        }
    }

}